/* font-family: 'Delius', cursive; */
body{
	width: 600px;
	height: 700px;
    text-align: center;
}


.gamearea {
	width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
 }

 .gamearea div{
 	width: 100%;
 	text-align: center;
}

.invisible{
    visibility: hidden;
}


.middlePart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.middleBlock{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.topPart, .bottomPart {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

 .playerArea{
 	order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 1em;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

 }

 .playerAvatar, .playerDeck{
 	order: 0;
    flex: 1 1 auto;
    align-self: auto;
 }


 .playerCards{
 	order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
 }

 .playerCards.player0{
    align-items:flex-end;
 }

 .playerCards.player1{
    align-items: flex-start;
 }

 .card{
 	order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 1em;
    border-style: solid;
    border-color: black;
    height: 100px;
    background-size: 100% 100%;
    color: red;
 }

 .playerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;  
 }

 .playerItems .item{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    margin: 1em;
 }

 .playerItems.player0 .item{
 	margin-bottom: 5em;
 	border-style: solid;
 }

 .playerItems.player1 .item{
 	margin-top: 5em;
 	border-style: solid;
 }

 .available{
    display: block;
    background-color: green; 
 }